.ui.table {
  border-radius: 0 !important;
}

.ui.table tr td:first-child {
  padding-left: 1em;
}

.ui.grid>.column:not(.row), .ui.grid>.row>.column {
  padding-left: 0;
  padding-right: 0;
}

.search-div {
  padding-right: 10px;
}

/**
* Таблица значений
**/
.values-div {
  border-left: 1px solid #aaa;
/*   width: 600px; */
  overflow-x: scroll;
  margin-bottom: -8px;
}

.values-div::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.values-div::-webkit-scrollbar-track {
  background-color: #efefef;
}

.values-div::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.values-div .ui.very.basic.table {
  text-align: right;
}

/* .ui.table tr td {
  border-top: none;
} */
/*   border-left: 1px solid #ffffff;
  border-top: 1px solid #ffffff; */


.values-div .ui.very.basic.table tr th {
/*   border-left: none; */
  padding-left: 15px;
  padding-right: 15px;
}

.value-cell > span {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
}

.fact-value.negative {
  background: #ffebdb;
}

.fact-value.positive {
  background: #bffdb4;
}


.plan-value {
/*   color: #07a3f1;
  margin-left: 5px; */
  color: #2656b1;
  background: #c6eaff;
}

.ui.table td.total-cell {
  background: #fcffd6;
  font-weight: bold;
}

/**
* Итого
**/
.row-totals-div {
  border-left: 2px solid #aaa;
}


.ui.very.basic.table td:first-child,
.ui.very.basic.table th:first-child {
  padding-left: 1em !important;
}

.ui.basic.table td.dim-1 {
  background: rgb(255, 244, 185);
}

.ui.basic.table td.dim-2 {
  background: #ecfcfe;
}

.ui.basic.table td.dim-3 {
  background: #fbedfb;
}

